body {
    background-color: #DC3545;
    background-color: #10B759;
    background-color: #0168FA;
    background-color: #FD7E14;
    background-color: #6F42C1;
    background-color: #FFC107;
    background-color: #7AC142;
    background-color: #8D5524;
    background-color: #5B47FB;
    background-color: #F10075;
    background-color: #00B8D4;
}