.nav-link.active {
    color: #013880;
}

.nav-link:hover, .nav-link:focus {
    color: #013880; }

.nav-line .nav-link.active::after {
    background-color: #013880;
}

.nav-aside {
    font-size: 14px;
}

.nav-aside .nav-item {
    margin: 5px 0px;
}

.nav-aside .nav-item.active .nav-link{
    color: rgba(27, 46, 75, 0.9);
    font-weight: 500;
}

.nav-aside .nav-item:hover .nav-link{
    color: rgba(27, 46, 75, 0.9);
    font-weight: 500;
}

.nav-aside .nav-item.active .nav-link::before {
    border-left-color: #013880;
}

.nav-aside .nav-item.active .nav-link svg {
    opacity: 1;
    color: #013880;
    font-weight: 500;
}

.nav-aside .nav-item:hover .nav-link svg {
    opacity: 1;
    color: #013880;
    font-weight: 500;
}

.table-hover tbody tr {
    transition: 0.3s;
}

.table-hover tbody tr:hover {
    background-color: #f4f5f8;
}


.table td.td-its {
    padding: 15px 21px;
}

.table th.th-its {
    padding: 15px 21px 5px 21px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
    background-color: #013880; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0.313rem;
}

table.dataTable {
    border: 0;
}

table.dataTable tbody td.sorting_1 {
    background-color: #f3f4f700;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-color: #eceff370;
}

.dataTables_wrapper .dataTables_length label {
    margin-top: 15px;
    margin-left: 20px;
}

.dataTables_wrapper .dataTables_filter {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.dataTables_wrapper .dataTables_info {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 13px;
    color: #7987a1;
}

.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
    padding-left: 20px;
}

.clickable-row {
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer;
}

.aside-header {
    border-right: transparent;
}

.card {
    border-radius: 0.5rem;
}

.card-body.card-link{
    background-color: none;
    transition: 0.2s;
}
.card-body.card-link:hover{
    border-radius: 0.5rem;
    background-color: #f4f5f8;
}

.card-body.card-link-center{
    background-color: none;
    transition: 0.2s;
}
.card-body.card-link-center:hover{
    border-radius: 0rem;
    background-color: #f4f5f8;
}

.card-body.card-link-end{
    background-color: none;
    transition: 0.2s;
}
.card-body.card-link-end:hover{
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background-color: #f4f5f8;
}

.card-footer.card-link{
    background-color: none;
    transition: 0.2s;
}
.card-footer.card-link:hover{
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #f4f5f8;
}

.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-profile .card-body {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-body-link {
    color: #1b2e4b;
}

.card-body-link:hover {
    background-color: #f5f6fa;
    /* border-radius: 0.5rem; */
}

.card-tx {
    padding: 10px 21px;
}

.card-tx-title {
    padding: 20px 21px 0px 21px;
}

.card-file:hover, .card-file:focus {
    border-color: none; 
}

.dropdown-file {
    right: 10px;
}

.modal-content {
    border-radius: 0.5rem;
}

.breadcrumb-style1 .breadcrumb-item a:hover {
    color: #0168fa;
}

.breadcrumb-style1 .breadcrumb-item.active > a {
    color: #0168fa;
}